{% extends "base.html" %}

{% block title %}Dashboard - Mini1{% endblock %}

{% block content %}
    <div>
        {% set newest_pair = static_values[0] %}
        {% for pair in static_values %}
            {% if pair.timestamp > newest_pair.timestamp %}
                {% set newest_pair = pair %}
            {% endif %}
        {% endfor %}
        <p>Last temperature: <b>{{ newest_pair.temperature }}</b> measured at: <b>{{ newest_pair.timestamp }}</b></p>
    </div>

    <div>
        <div class="input-group mb-3">

            <form method="post">
                <label>
                    <input class="input-group-text" type="number" name="num_elements" id="num_elements" min="1"
                           value="10">
                </label>
                <button class="btn btn-danger" id="remove_elements" type="submit" name="action" value="remove">Remove
                </button>
                <button class="btn btn-success" id="update_elements" type="submit" name="action" value="update">Update
                </button>
            </form>
        </div>

        <table class="table" id="value_table">
            <thead>
            <tr>
                <td>Temperature</td>
                <td>Timestamp</td>
            </tr>
            </thead>

            <tbody>
            {% for pair in static_values %}
                <tr>
                    <td>{{ pair.temperature }}</td>
                    <td>{{ pair.timestamp }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
