{% extends "base.html" %}

{% block title %}Insert value {% endblock %}

{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{{ url_for('api.insert_value') }}">
                    <div class="mb-3">
                        <label for="insert_value" class="form-label">Value to insert</label>
                        <input type="text" class="form-control" id="insert_value" name="insert_value" placeholder="{{ error }}" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Insert</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}