{% extends "base.html" %}

{% block title %}Login - Mini1{% endblock %}

{% block content %}

     <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Login</h2>
                <form method="post" action="{{ url_for('login') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>

                     {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div class="alert alert-danger" role="alert">
                      {% for message in messages %}
                        {{ message }}<br>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}


                    <div class="mt-3">
                        <p>Don't have an account? <a href="{{ url_for('register') }}">Register</a>.</p>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}